<!-- edit.html -->
{% extends "layout.html" %}

{% block content %}
<form class="formSection" action="{{doc.url_name}}/edit/submit" method="post">
  <div class="form-group">
    <label for="pageTitle">PAGE TITLE</label>
    <input class="form-control" name="title" id="title" placeholder="Title" value="{{doc.title}}">
  </div>
  <div class="form-group">
    <label for="pageContent">PAGE CONTENT</label>
    <textarea class="form-control" name="content" id="content" placeholder="Content" value="{{doc.content}}">{{doc.content}}</textarea>
  </div>
  <div class="form-group">
    <label for="tags">TAGS</label>
    <input class="form-control" name="tags" id="tags" placeholder="Tags" value="{{doc.tagsString}}">
  </div>
  <button type="submit" class="btn btn-default btn-primary">Submit</button>
</form>
{% endblock %}
