{% extends "layout.html" %}

{% block content %}
    <div class="page-header">
      <h1>{{ doc.title }}</h1>
      <span class="edit"><a href="{{doc.url_name}}/edit">edit this page</a></span>
    </div>

    <div class="List">
      <p>
        {{doc.content|marked}}
      <!-- {{ doc.content }} -->
      </p>
    </div>

    <div class="List">
      {% if doc.tags.length > 0 %}
        <ul>
          {% for tag in doc.tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      {% else %}
        There are no pages. Why don't you <a href='/edit'>add one?</a>?
      {% endif %}
    </div>

{% endblock %}
